<div class="form">       
    <form (submit) = "register($event)">   

        <h1>Enregistrement</h1>
        <input required type="text" name="nom" id="nom_user" placeholder="Votre nom" pattern="^[a-zA-Z]{3,}$" title="minimum 3 lettres">
        <input required type="text" name="prenom" id="prenom_user" placeholder="Votre prénom" pattern="^[a-zA-Z]{3,}$" title="minimum 3 lettres">
        <input required type="email" name="email" id="email_user" placeholder="Votre email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <input required type="tel" name="numero" id="numero_user" placeholder="Votre numéro de téléphone" pattern="^[0-9]{8,}$" title="minimum 8 chiffres">
        <select required name="type" id="type_user">
            <option value="" disabled selected>Type d'utilisateur</option>
            <option value="chauffeur">Chauffeur</option>
            <option value="voyageur">Voyageur</option>
        </select>
        <input required type="password" name="mdp" id="mdp_user" placeholder="Votre mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z]).{6,}$" title="1 lettre majuscule et 1 lettre minuscule au moins,minimun 6 caractères">
        <input required type="password" name="mdp" id="confirm_mdp_user" placeholder="Confirmer votre mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z]).{6,}$" title="1 lettre majuscule et 1 lettre minuscule au moins,minimun 6 caractères">

        <input type="submit" value="Valider">
    
    </form>
</div>

<div class="error">
    <p> {{message}} </p>
</div>
