<div class="message">
    {{message}}
</div>

<br>
<a routerLink="/map" class="retour">Retour</a>

<table>

    <tr class="colorie">
        <th>Index</th>
        <th>Chauffeur</th>
        <th>Email chauffeur</th>
        <th>Voyageur</th>
        <th>Email voyageur</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Tarif</th>
        <th>Status</th>
        <th *ngIf="getIsChauffeur()">Options</th>
    </tr>


    <tr *ngFor="let item of demandes; let i=index">

        <td>{{i}}</td>

        <td>{{item.nom_chauffeur}} {{item.prenom_chauffeur}}</td>

        <td>{{item.email_chauffeur}}</td>

        <td>{{item.nom_voyageur}} {{item.prenom_voyageur}}</td>

        <td>{{item.email_voyageur}}</td>

        <td>{{item.adresse_depart}}</td>

        <td>{{item.adresse_arrive}}</td>

        <td>{{item.date_trajet | date: 'dd/MM/yyyy'}}</td>

        <td>{{item.heure_trajet | date: 'hh:mm a'}}</td>

        <td>{{item.tarif_trajet}}</td>

        <td>{{item.status_demande}}</td>

        <td *ngIf="getIsChauffeur()">
            <button (click)="updateDemande(item.id_demande, 'refuser')" [ngbTooltip] = "tooltipRefuserDemande"><i class="fas fa-times"></i></button>
            <button (click)="updateDemande(item.id_demande, 'accepter')" [ngbTooltip] = "tooltipAccepterDemande"><i class="fas fa-check-circle"></i></button>
        </td>

    </tr>

</table>

<ng-template #tooltipAccepterDemande>
    Accepter la demande
</ng-template>

<ng-template #tooltipRefuserDemande>
    Refuser la demande
</ng-template>

