<div class="form">
        
    <form (submit) = "modifMdp($event)">   
        <h1>Changer mot de passe</h1>
        <input type="email"  id="email_user" value="{{emailValue}}" disabled>
        <input required type="password" name="mdp" id="mdp_user" placeholder="Votre mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z]).{6,}$" title="1 lettre majuscule et 1 lettre minuscule au moins,minimun 6 caractères">
        <input required type="password" name="mdp" id="confirm_mdp_user" placeholder="Confirmer votre mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z]).{6,}$" title="1 lettre majuscule et 1 lettre minuscule au moins,minimun 6 caractères">

        <input type="submit" value="Valider">
    
    </form>

</div>

<div class="error">
    <p> {{message}} </p>
</div>
