.message{
	color: red;
	left: 5%;
	margin: 1%;
	padding: 1%;
	position: relative;
}



.modal-header,.modal-header button{
	background: #48dbfb;
	color: white;
	font-weight: 300;
	text-align: center;
}

.modal-header button:hover {
	background-color: white;
	color: #48dbfb;
}

.modal-footer button {
	border: 1px solid #48dbfb;
	color: #48dbfb;
	transition: all 0.5s;
}

.modal-footer button:hover {
	color:white;
}

form input[type="submit"]  {
	background-color: white;
	border: 1px solid #48dbfb;
	border-radius: 5px;
	color: #48dbfb;
	font-size: large;
	left:80%;
	padding: 2%;
	position: relative;
	transition: all 0.5s;
}

form input[type="submit"]:hover {
	background-color: #48dbfb;
	border: 1px solid white;
	color: white;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="tel"],
form input[type="password"],
form select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-top: 2%;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form select:focus
{
    border: 1px solid #48dbfb;
    box-shadow: 0 0 5px #48dbfb;
	padding: 3%;
}


