<div id="map" 
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions] = "mapOptions()"
    [(leafletCenter)] = "mapOptions().center"
    [(leafletZoom)] = "mapOptions().zoom"
    [leafletLayersControl] = "mapLayersControl()"
    (leafletClick) = "recupCoordonnees($event)"
    (leafletClick) = "!getItineraire() || onClickLocation($event)"
    (click) = "!getPointImportant() || modal(enregistrerPoint)"
    >


</div>

<button class = "contactUs" (click) = "modal(ContactUs)">Contact us!</button>

<button *ngIf="checkStatus()" class = "mapOptionsSetPoint" (click) = "setPointImportant()" [ngbTooltip] = "tooltipSetPoint"><i class="fas fa-map-marker-alt"></i></button>
<button *ngIf="checkStatus()" class = "mapOptionsGererPoint" (click) = "redirectionGererPoint()" [ngbTooltip] = "tooltipGererPointImportant"><i class="fas fa-map-marked-alt"></i></button>

<button *ngIf="checkStatus()" class = "mapOptionsSearch" (click) = "setItineraire()" [ngbTooltip] = "tooltipSearch"><i class="fas fa-route"></i></button>

<button *ngIf="isVoyageur()" class = "mapCovoiturage" (click) = "setCovoiturage()" [ngbTooltip] = "tooltipCovoiturage"><i class="fas fa-car"></i></button>
<button *ngIf="isVoyageur()" class = "mapRechercherTrajet" (click) = "modal(rechercherTrajet)" [ngbTooltip] = "tooltipRechercherTrajet"><i class="fas fa-search-location"></i></button>

<button *ngIf="isChauffeur()" class = "mapEnregistrerTrajet" (click) = "modal(enregistrerTrajet)" [ngbTooltip] = "tooltipTrajet"><i class="fas fa-sign"></i></button>
<button *ngIf="isChauffeur()" class = "mapGestionTrajet" (click)= "redirectionGestionTrajet()" [ngbTooltip] = "tooltipGestionTrajet"><i class="fas fa-map-signs"></i></button>

<button class = "mapGestionDemandeUser" (click) = "redirectionDemandeUser()" [ngbTooltip] = "tooltipGestionDemandeUser"><i class="fas fa-clipboard-list"></i></button>
<button class = "mapGestionProfil" (click) = "modal(gestionProfil)" [ngbTooltip] = "tooltipGestionProfil"><i class="fas fa-diagnoses"></i></button>

<button *ngIf="isAdmin()" class = "mapGestionDemande" (click) = "redirectionDemande()" [ngbTooltip] = "tooltipGestionDemande"><i class="fas fa-clipboard"></i></button>
<button *ngIf="isAdmin()" class = "mapOptionsProfil" (click)= "redirectionProfil()" [ngbTooltip] = "tooltipProfil"><i class="fas fa-user"></i></button>

<button class = "mapDeuxBoutons" (click) = "setBoutonStartEnd()" [ngbTooltip] = "tooltipDeuxBoutons" [hidden] = "!getItineraire()"><i class="fas fa-code-branch"></i></button>
<button class = "mapSonner" (click) = "setBoutonSonner()" [ngbTooltip] = "tooltipBoutonSonner" [hidden] = "!getItineraire()"><i class="fas fa-bell"></i></button>

<ng-template #ContactUs let-modal>
    <div class="modal-header">
        <h4 id="modal-basic-title">Contact Us</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Hésitez pas à nous faire des retours !!!</p>

        <form class="form" (submit) = "contactUs($event)">
            <input required type="email" name="email" id="email_user_contactUs" placeholder="Votre email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <input required type="textarea" name="message" id="message_user_contactUs" placeholder="Votre message">
            <input type="submit" value="Envoyer">
        </form>
        <p class="error">{{message}}</p>
    </div>
    
</ng-template>

<ng-template #enregistrerPoint let-modal>
    <div class="modal-header">
        <h4 id="modal-basic-title">Enregistrer point</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Cet endroit sera enregistré, écrivez un message pour l'ajouter au point</p>

        <form class="form" (submit) = "enregistrerPointImportant($event)">
            <input required type="email" name="email" id="email_user_point_important" placeholder="Votre email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <input required type="textarea" name="message" id="message_user_point_important" placeholder="Libellé du point">
            <select name="sonner" id="sonner">
                <option value="" disabled selected>Faire vibrer votre téléphone à ce point?</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
            <input type="submit" value="Envoyer">
        </form>
        <p class="error">{{message}}</p>
    </div>
    
</ng-template>

<ng-template #rechercherTrajet let-modal>
    
    <div class="modal-header">
        <h4 id="modal-basic-title">Rechercher un trajet</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form class="form" (submit) = "findTrajet($event)">
            <input required type="text" name="adresse_depart" id="adresse_depart" placeholder="Adresse de départ">
            <input required type="text" name="adresse_arrive" id="adresse_arrive" placeholder="Adresse d'arrivée">
            <input type="submit" value="Valider"> 
        </form>

    </div>

    <div class="modal-footer">

        <div>
            Plus vous entrerez des détails sur vos adresses, plus la recherche sera détaillée. 
            <br>
            Par exemple si une de vos addresses se situe à solibra, écrivez : <i>Société de Limonaderies et Brasseries d'Afrique Solibra Rue des Brasseurs Arras Zone 3 Treichville Abidjan 26 Côte d'Ivoire</i>
            <br> <br>

            <b>Ne pas mettre de ponctuation !!</b> 
            <br> <br>
            La liste des trajets trouvées s'affichera ici, une liste vide s'affichera s'il n'y a aucun trajet  
            <br> 
            
            <p class="error">
                {{message}}
            </p>
            <!--TODO: Au click, envoyer un message au chauffeur (module chat qui a été reporté) -->
            <p class="trouverTrajet" *ngFor="let item of trajet">
                Chauffeur : {{item.nom_chauffeur}} {{item.prenom_chauffeur}} <br>
                Trajet : {{item.adresse_depart}} - {{item.adresse_arrive}} <br>
                    Le {{item.date_trajet | date: 'dd/MM/yyyy'}} à {{item.heure_trajet | date: 'hh:mm a'}} <br>
                Escale : {{item.escale}} <br>
                Numéro : {{item.numero_chauffeur}} <br>
                Tarif : {{item.tarif}} <br>
                <button class="boutonRoute" (click) = "afficherRoutes(item.coords_depart_user, item.coords_arrive_user)">Votre route</button>
                <button class="boutonRoute" (click) = "afficherRoutes(item.coords_depart_chauffeur, item.coords_arrive_chauffeur)">Route du chauffeur</button>
                <button class="boutonRoute" (click) = "registerDemande(item.email_chauffeur, item.adresse_depart, item.adresse_arrive, item.date_trajet, item.heure_trajet, item.tarif)">Envoyer une demande</button>
            </p> <br> <br>

        </div>

    </div>

</ng-template>

<ng-template #enregistrerTrajet let-modal>

    <div class="modal-header">
        <h4 id="modal-basic-title">Enregistrer un trajet</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form class="form" (submit) = "registerTrajet($event)">
            <input required type="text" name="adresse_depart" id="adresse_depart" placeholder="Adresse de départ" title="Minimum 3 lettres/chiffres" pattern="[a-zA-Z0-9\s,]{3,}">
            <input required type="text" name="adresse_arrive" id="adresse_arrive" placeholder="Adresse d'arrivée" title="Minimum 3 lettres/chiffres" pattern="[a-zA-Z0-9\s,]{3,}">
            <input class="dateTime" required type="time" name="heure_trajet" id="heure_trajet" title="Entrer l'heure du trajet"> <br>
            <input class="dateTime" required type="date" name="date_trajet" id="date_trajet" title="Entrer la date du trajet"> <br>
            <select required name="options" id="options">
                <option value="" disabled selected>Pouvez-vous faire une escale?</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
            <input type="text" name="escale" id="escale" placeholder="Si oui, où?" [ngbTooltip] = "tooltipTrajetEscale" pattern = "^[a-zA-Z0-9]{3,}$">
            <input required type="text" name="tarif_total" id="tarif_total" placeholder="Votre tarif pour le trajet total" [ngbTooltip] = "tooltipTarif">
            <input type="text" name="tarif_escale" id="tarif_escale" placeholder="Votre tarif s'il y a une escale" [ngbTooltip] = " tooltipTarifEscale">
            <input type="submit" value="Valider"> 
        </form>

    </div>

    <div class="modal-footer">

        <p class="error">
            {{message}}
        </p>

        <p>
            Enregistrez soigneusement votre trajet, ces données seront utilisées par les autres voyageurs pour la recherche de covoiturage
        </p>
        <p>
            Plus vous entrerez des détails pour vos adresses, plus détaillée sera la rechercher pour les autres utilisateurs
        </p>

    </div>

</ng-template>

<ng-template #gestionProfil let-modal>

    <div class="modal-header">
        <h4 id="modal-basic-title">Gestion de votre profil</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form (submit) = "updateProfil($event)"> 
            <div class="form-group">
                <input required type="text" name="nom" id="nom_user" value="{{usersData.nom}}" pattern="^[a-zA-Z]{3,}$" title="minimum 3 lettres sans espace et sans chiffres">
                <input required type="text" name="prenom" id="prenom_user" value="{{usersData.prenom}}" pattern="^[a-zA-Z]{3,}$" title="minimum 3 lettres sans espace et sans chiffres">
                <input required type="email" name="email" id="email_user" value="{{usersData.email}}" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <input required type="tel" name="numero" id="numero_user" value="{{usersData.numero}}" pattern="^[0-9]{8,}$" title="minimum 8 chiffres">
                <select required name="type" id="type_user">
                    <option value="" disabled selected>User actuel est {{usersData.typeUser}}</option>
                    <option value="chauffeur">Chauffeur</option>
                    <option value="voyageur">Voyageur</option>
                </select>
                <input type="submit" value="Valider" class="valider">    
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <p class="message">
            {{message}}
        </p>
        <p>
            Cette fenêtre vous permet de voir vos données actuelles et de les modifier si besoin. <br> 
            Pour modifier votre mot de passe, rendez-vous à la fenêtre d'authentification. <br> 
            Pour supprimer votre compte, contactez-nous!
        </p>
    </div>
</ng-template>


<ng-template #tooltipSetPoint>
    Enregistrer point important <b>Attention!</b> Tous points que vous allez clicker sur la map ouvrira un formulaire! Rappuyer pour désactiver
    <br>Status : <b>{{getPointImportantStatus()}}</b>
</ng-template>

<ng-template #tooltipGererPointImportant>
    Gestion de vos points importants
</ng-template>

<ng-template #tooltipSearch>
    Trouver une adresse <br><b>Cliquez</b> ouvrira la recherche d'itinéraire <br><b>Recliquez</b> pour la refaire disparaître
</ng-template>

<ng-template #tooltipCovoiturage>
    Appuyer activer ou désactiver le covoiturage <br>
    Status : <b>{{getCovoiturageStatus()}}</b>
</ng-template>

<ng-template #tooltipRechercherTrajet>
    Rechercher un trajet
</ng-template>

<ng-template #tooltipProfil> 
    Gestion des profils
</ng-template>

<ng-template #tooltipGestionProfil>
    Gestion de votre profil
</ng-template>

<ng-template #tooltipTrajet>
    Enregistrer un trajet
</ng-template>

<ng-template #tooltipTrajetEscale>
    Vous ne pouvez entrer qu'une seule adresse
</ng-template>

<ng-template #tooltipTarif>
    Entrer la devise après votre tarif
</ng-template>

<ng-template #tooltipTarifEscale>
    Entrer la devise après votre tarif <br>
    <b>NB </b>: ce tarif constitue votre trajet qui commence à votre point de départ jusqu'à votre point d'escale
</ng-template>

<ng-template #tooltipGestionTrajet>
    Gestion de vos trajets
</ng-template>

<ng-template #tooltipBoutonSonner>
    Activer ou désactiver le bouton d'alarme. <br>
    Quand vous serez à proximité d'un des points, toutes les 10 secondes ,votre téléphone vibrera et un message d'alerte apparaîtra <br>
    Status : <b>{{getBoutonSonner()}}</b>
</ng-template>

<ng-template #tooltipDeuxBoutons>
    Activer un bouton de remplissage rapide des routes <br>
    Cliquer sur la carte pour voir <br>
    Status : <b>{{getBoutonStartEnd()}}</b>
</ng-template>

<ng-template #tooltipGestionDemandeUser>
    Gestion de vos demandes
</ng-template>

<ng-template #tooltipGestionDemande>
    Gestion des demandes
</ng-template>




