#map {
    bottom: 30px;
    height: 87%;
    margin: 0;
    width: 100%;
}


.contactUs,
.mapOptionsSetPoint,
.mapOptionsGererPoint,
.mapOptionsSearch,
.mapCovoiturage,
.mapRechercherTrajet,
.mapOptionsProfil,
.mapGestionProfil,
.mapEnregistrerTrajet,
.mapGestionTrajet,
.mapDeuxBoutons,
.mapSonner {
    background-color: white;
    box-shadow: 0 0 2px black;
    border: none;
    color: #48dbfb;
    position: absolute;
    z-index: 999;
}

.contactUs {
    border-radius: 10px;
    padding: 0.5%;
    right: 10px;
    top: 88%;
}


.contactUs:hover,
.mapOptionsSetPoint:hover,
.mapOptionsGererPoint:hover,
.mapOptionsSearch:hover,
.mapCovoiturage:hover,
.mapRechercherTrajet:hover,
.mapOptionsProfil:hover,
.mapGestionProfil:hover,
.mapEnregistrerTrajet:hover,
.mapGestionTrajet:hover,
.mapDeuxBoutons:hover ,
.mapSonner:hover{
    background-color: #48dbfb;
    color: white;
}

.mapOptionsSetPoint,
.mapOptionsGererPoint,
.mapOptionsSearch,
.mapRechercherTrajet,
.mapCovoiturage,
.mapOptionsProfil,
.mapGestionProfil,
.mapEnregistrerTrajet,
.mapGestionTrajet {
    border-radius: 2px;
    left: 9px;
    padding: 0.3%;
    width: 30px;
}

.mapOptionsSetPoint {
    top: 26%;
}

.mapOptionsGererPoint {
    top: 30.5%;
}

.mapOptionsSearch {
    top: 38%;
}

.mapCovoiturage {
    top: 45%;
}

.mapRechercherTrajet {

    top: 50%;
}

.mapEnregistrerTrajet {

    top: 58%;
}

.mapGestionTrajet {
    top: 63%;
}

.mapGestionProfil {
    top: 71%;
}

.mapOptionsProfil {
    top: 76%;
}

.mapDeuxBoutons,
.mapSonner {
    border-radius: 2px;
    padding: 0.3%;
    width: 30px;
    top: 90px;
}

.mapDeuxBoutons {
    right: 13%;
}

.mapSonner {
    right: 18%;
}

/* Fenetre modal */

.form,
.error {
    max-width: 450px;
    margin: 10px auto;
    padding: 16px;
}

.form {
    background: #c8d6e5;
    border-radius: 15px;
}

.form input[type="email"],
.form input[type="textarea"],
.form input[type="text"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-top: 2%;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form input[type="email"]:focus,
.form input[type="textarea"]:focus,
.form input[type="text"]:focus {
    border: 1px solid #48dbfb;
    box-shadow: 0 0 5px #48dbfb;
    padding: 3%;
}

.form input[type="submit"],
.form input[type="button"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #48dbfb;
    border-bottom: 2px solid #3fd8fa;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 30px;
    color: #fff;
    font-size: 100%;
    margin-left: 35%;
    padding: 3%;
    width: 30%;
}


.form input[type="submit"]:hover,
.form input[type="button"]:hover {
    background: #28d1f7;
}


.error {
    color: red;
    text-align: center;
}

.modal-header,
.modal-header button {
    background: #48dbfb;
    color: white;
    font-weight: 300;
    text-align: center;
}

.modal-header button:hover {
    background-color: white;
    color: #48dbfb;
}

.modal-body .form {
    background-color: white;
}

.modal-body p {
    padding: 0 0 0 5%;
}

.modal-body form input[type="text"],
.modal-body form input[type="email"],
.modal-body form input[type="number"],
.modal-body form input[type="tel"],
.modal-body form input[type="password"],
.modal-body form select
.modal-body .form input[type="textarea"],
form input[type="time"],
form input[type=date]{
    border-radius: 30px;
}

.modal-body .form input[type="submit"] {
    margin: 0;
    width: 100%;
}



.modal-header,.modal-header button{
	background: #48dbfb;
	color: white;
	font-weight: 300;
	text-align: center;
}

.modal-header button:hover {
	background-color: white;
	color: #48dbfb;
}

.modal-body form input[type="submit"]  {
	background-color: white;
	border: 1px solid #48dbfb;
	border-radius: 5px;
	color: #48dbfb;
	padding: 2%;
    position: relative;
    text-align: center;
	transition: all 0.5s;
}

.modal-body form input[type="submit"]:hover {
	background-color: #48dbfb;
	border: 1px solid white;
	color: white;
}

.modal-body .valider {
    left: 80%;
}

.modal-footer div {
    text-align: center;
    width: 100%;
}

.modal-footer div .trouverTrajet {
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.modal-footer div .trouverTrajet:hover {

    background-color: #f5f6fa;
	border-color: grey;
    cursor: pointer;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="tel"],
form input[type="password"],
form select,
form input[type="time"],
form input[type=date]
{
	
    outline: none;
    background: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #ccc;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
	margin-top: 2%;
	margin-bottom: 4%;
	padding: 3%;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
    width: 100%;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form input[type="time"]:focus,
form input[type=date]:focus,
form select:focus
{
    border: 1px solid #48dbfb;
    box-shadow: 0 0 5px #48dbfb;
	padding: 3%;
}


.message{
    color: red;
    padding: 1%;
}

.boutonRoute {

    background-color: white;
	border: 1px solid #48dbfb;
	border-radius: 5px;
    color: #48dbfb;
    margin: 1%;
	padding: 2%;
    text-align: center;
	transition: all 0.5s;
    
}

.boutonRoute:hover {
    background-color: #48dbfb;
    color: white;
}


