.message{
	color: red;
	left: 5%;
	margin: 1%;
	padding: 1%;
	position: relative;
}


table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 0.5%;
    text-align: center;
    width: 4%;
}

tr {
    color: black;
}


tr:nth-child(odd),
tr:nth-child(odd) button {
    background-color: #c8d6e5;
    color: black;
}


table .colorie {
    background-color: #17c0eb;
    color: white;
}



button {
    border: 1px solid black;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover, tr:nth-child(odd) button:hover {
    background-color: #48dbfb;
    border-radius: 5px;
    color: white;
}

form {
	background: #c8d6e5;
	border-radius: 15px;
}

form input[type="email"],
form input[type="textarea"],
form input[type="text"],
form select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-top: 2%;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

form input[type="email"]:focus,
form input[type="textarea"]:focus,
form input[type="text"]:focus,
form select:focus
{
    border: 1px solid #48dbfb;
    box-shadow: 0 0 5px #48dbfb;
	padding: 3%;
}

form input[type="submit"],
form input[type="button"]{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background: #48dbfb;
	border-bottom: 2px solid #3fd8fa;
	border-top-style: none;
	border-right-style: none;
    border-left-style: none;	
    border-radius: 30px;
	color: #fff;
	font-size: 100%;
    margin-left: 35%;
    padding: 3% ;
    width: 30%;
}


form input[type="submit"]:hover,
form input[type="button"]:hover{
	background: #28d1f7;
}


.error {
	color: red;
	text-align: center;
}

.modal-header,.modal-header button{
	background: #48dbfb;
	color: white;
	font-weight: 300;
	text-align: center;
}

.modal-header button:hover {
	background-color: white;
	color: #48dbfb;
}

.modal-body form {
	background-color: white;
}

.modal-body p {
    padding: 0 0 0 5%;
}

.modal-body form input[type="email"], .modal-body form input[type="textarea"], .modal-body form input[type="text"] {
	border-radius: 30px;
}

.modal-body form input[type="submit"] {
	margin: 0;
	width: 100%;
}

.modal-footer button {
	border: 1px solid #48dbfb;
	color: #48dbfb;
	transition: all 0.5s;
}

.modal-footer button:hover {
	color:white;
}