/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.retour {
	background-color: white;
	border: 1px solid #48dbfb;
	border-radius: 10px;
	color: #48dbfb;
	cursor: pointer;
	padding: 1%;
	position: absolute;
	left: 93%;
	top: 16%;
}

.retour:hover {
	background-color: #48dbfb;
	color: white;
	text-decoration: none;
}