body {
    font-family: 'roboto', arial, sans-serif;
    margin: 0 0 0 0 ;
}

header{
    background-color:#ffffff;
    border: 1px solid #dfe4ea;
    box-shadow: 0 0 5px 4px #dfe4ea;
    margin-bottom:3%;
    height: 120px;
}

.logo {
    padding: 1%;
    width: 8%;
}

.ecriture {
    bottom: 80px;
    font-size: 170%;
    left: 33%;
    position: relative;
    text-align: center;
    width: 35%;
}

.auth {
    bottom: 165px;
    font-size: 120%;
    height: 100%;
    left: 89%;
    padding: 2% 0 0 0;
    position: relative;
    text-align: center;
    width: 10%;
}